C Programs                                                                                                                                                               
Input.txt                                                                                                                                                                   
JavaProject                                                                                                                                                              
JavaScript Programs                                                                                                                                                      
Output.txt                                                                                                                                                                  
Python Programs
*.exe